.port{
  text-decoration: none;
  margin-right: 10px;
  font-size: small;
  color: aliceblue;
}

.fontcolor{
  color: aliceblue !important;
}

.fontcolor:hover{
  cursor: pointer;
}

.navh{
  height: 40px;
}